# build a new ".env" file when you clone the repo. Keep this file up-to-date

DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=THANHtung2003
DB_DATABASE=dahttt
DB_PORT=3306

AVATAR_PATH=public/image/avatars
DRINKS_PATH=public/image/drinks
BOOK_PATH=public/image/books
BRANCH_PATH=public/image/branches
